@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    height: 120px;
    background-color: #6a213e;
    /* background-color: #D85A7F; */
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    text-shadow: 8px 11px 5px rgba(145, 142, 113, 0.8);
}

.contain {
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../image/background.png') center / cover;

}

.btn {
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    /* border:3px solid #000000;*/
}

.jumpButton {
    padding: 20px 40px;
    display: inline-block;
}

.link {
    padding: 20px;
    /* margin-top: 100px; margin-bottom: 100px;  */
}

.link:link,
.link:visited {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    /* background-color: #ce587f; */
    background-color: #e89b5a;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link:hover {
    font-weight: bold;
    background-color: #D85A7F;
}

footer {
    font-size: 8px;
    text-align: center;
    padding: 10px;
    background-color: #6a213e;
    color: white;
}