/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    /* background: url(./background.png) center / cover; */
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.mb-auto > div > h4{
    font-weight: bold;
    text-shadow: 4px 8px 4px rgba(145, 142, 113, 0.75);
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link > a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}
.nav-masthead .nav-link > a:hover,
.nav-masthead .nav-link > a:focus{
    color: #D85A7F;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    color: #D85A7F;
    border-bottom-color: rgba(255, 255, 255, .25);
    /* border-bottom-color: rgba(216, 90, 127, .25); */
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/* 主体 */
.lead a:hover {
    color: #D85A7F;
    /* color: #6a213e; */
}